

/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
    color: #373835;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
.about-page p,.about-page img{
	margin-bottom: 10px !important;
	border-radius: 15px;
}
::selection {
	color: #fff;
	background-color: #4f68f6;
}
::-moz-selection {
	color: #fff;
	background-color: #4f68f6;
}

.hiretext{
	padding: 80px 0;
}
.hiretext h2{
	color: #4f68f6;
    text-transform: uppercase;
}

/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 2px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #4f68f6 !important;
}
.nav-item.active .nav-link{
	color: #4f68f6 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}
.navbar-nav li:nth-last-child(1){
	border: 2px solid #4f68f6;
	
}
.navbar-nav li:nth-last-child(1) a{
	padding: 5px 4px !important;
}
.header-bg{
	width: 80%;
    margin: auto;
}
/* #Primary style
================================================== */

.bg-light {
	background-color: #f3f3f3 !important;
    transition: all 200ms linear;
}
.bg-bluee{
	background-color: #4f68f6 !important;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
header{
	height: 85vh;
	padding: 20px 0px 45px 0px;
}
.ril-inner img{
	height: 85%;
	width: 70%;
}
img{
	height: 100%;
	width: 100%;
}
h1{
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
}
a{
	color: #4f68f6 !important;
}
p{
	margin: 0;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
.container-custom p{
	font-size: 1.2rem;
    color: #373835;
    letter-spacing: 1.5px;
    line-height: 1.4;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.container-custom{
	max-width: 825px;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}
.about-subtitle{
	width: 50%;
	margin: auto;
}
.about-me{
	text-align: center;
	margin-bottom: 15px;
}
.title-for-sec{
	text-align: center;
	margin-bottom: 15px;
}
.tools-grid span{
	color: #4f68f6;
}
.tools-grid p{
	padding: 10px 0px 10px 15px;
	font-size: 1rem;
    color: #373835;
}

.mh-image{
	border-radius: 15px;
	box-shadow: 0px 2px 8px 1px #4f68f6;
}

.mh-title{
	font-size: 65px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.mh-personal{
	text-align: center;
}
button{
	border: none;
    background: no-repeat;
    border-radius: 10px;
}
button:focus {outline:0;}
.post-row time{
	width: 15%;
    font-size: 15px;
}
.post-row{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 7px 25px;
}
.post-row h3{
	font-size: 18px;
	width: 85%;
}
.post a {
	text-decoration: none;
	color: #0c0c0c;
}
.post{
	background: #fff;
}
.post:hover{
	background: #f1f4f8;
	border-radius: 5px;
}
.mh-home h2{
	padding-bottom: 14px;
    border-bottom: 1px solid #e1e3e6;
}
.section-button{
	font-size: 12px;
    color: #4f68f6;
    background: #f2f4f8;
    padding: 4px 7px;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
}
.mh-search{
	margin: auto;
    width: 40%;
}
.mh-search > .react-search-field {
	height: 45px !important;
    margin-top: 15px !important;
    box-shadow: 0px 0px 5px 0px #4f68f6;
	border-radius: 10px !important;
	width: 100%;
	margin-bottom: 0px !important;
	border: none !important;
}
.mh-search > .react-search-field input{
	padding: 5px !important;
    height: 43px !important;
    border-radius: 15px !important;
}
.mh-search > .react-search-field button{
	height: 43px !important;
    width: 45px !important;
}
.mh-personal a{
	padding: 10px;
}
.section-button:hover{
	background: #4f68f6;
    text-decoration: none;
    color: #fff !important;
}
.tools-box{
	background: #fff;
    box-shadow: 0px 0px 6px 0px #dcdcdc;
    border-radius: 10px;
	padding: 5px 10px;
	display: inline-flex;
	justify-content: center;
}
.tools-box img{
	height: auto;
    width: 33%;
}
.mh-logo img{
	height: auto;
	width: 100%;
	border-radius: 50%;
}
.mh-logo{
	width: 10%;
	margin: auto;
}
.tools-grid{
	border: 1px solid #4f68f6;
	padding: 40px;
	margin-bottom: 10px;
    border-radius: 10px;
}
.tools-box h3{
	font-size: 20px;
	margin-top: 14px;
	margin-left: 5px;
}
.client-section h2{
	font-size: 40px;
    font-weight: 600;
	color: #212112;
	margin-bottom: 20px;
}
.mh-orderbtn{
	text-align: center;
}
.order-button{
    padding: 5px 10px;
}
.positive-m{
	margin: 0 0 0 3rem;
}
.positive-m2{
	margin: 0 0 0 6rem;
}
.footer-nav{
	display: flex;
    list-style: none;
    margin: 0;
	padding: 0;
	justify-content: center;
}
.footer-nav li{
	padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #4f68f6;
}
.footer-nav li:nth-child(1){
	padding-left: 0px;
}
.footer-text a{
	font-size: 25px;
	margin-right: 15px;
	color: #fff !important;
}
footer a{
	color: #fff !important;
}
.copyright{
	font-size: 13px;
	margin-top: 10px;
	color: #83909d !important;
}
.ewJlEB{
	width: 75% !important;
	margin: auto !important;
}
.bkVSTc{
	display: none !important;
}
.client-section{
	padding-top: 30px;
}
.searching-text ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-flex;
}
.searching-text{
	margin-top: 10px;
}
.searching-text ul li{
	font-size: 13px;
	padding: 5px;
}
.bTybGL,.kyJvRZ {
    font-size: 1em !important;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
	line-height: 30px !important;
}
.bTybGL:hover:enabled, .bTybGL:focus:enabled {
    color: #fff;
    background-color: rgb(79 104 246) !important;
    box-shadow: 0 0 2px 0 #333;
}
.mh-clients{
	height: 85px;
    width: 100%;
    padding: 10px;
}
/*============project pages============*/
.project-box{
	background: #fff;
    border-radius: 15px;
	box-shadow: 1px 2px 7px 0px #4f68f6;
	overflow: auto;
	width: 93%;
	margin: auto;
}
.project-box:hover{
	box-shadow: 1px 2px 15px 0px #4f68f6;
}
.project-box>div{
	padding: 15px;
}
.project-box>div a{
	font-size: 25px;
}
.project-box>div p{
	color: #797676e0;
	font-size: 15px;
}
.project-rating{
	text-align: right;
	border-top: 1px solid #4f68f63d;
}
.project-rating svg{
	margin-right: 5px;
	color: #4f68f6;
}

/*=========Service page===========*/
section .section-title{
	text-align:center;
	color:#4f68f6;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:#ffffff;
	padding: 40px 0px 70px 0px;
}
#what-we-do .card{
	padding: 1rem!important;
	border-radius: 10px;
    border: 1px solid #4f68f64a;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #4f68f6 !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #4f68f6;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f002";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
/* #Media
================================================== */
@media screen and ( min-width: 320px) and (max-width: 480px) { 
	.mh-title {
		font-size: 2rem;
	}
	.about-me {
		font-size: 15px;
		width: 85%;
	}
	.mh-search {
		width: 80%;
	}
	.searching-text {
		display: none;
	}
	.client-section {
		padding-top: 15px;
	}
	.client-section h2 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	header {
		padding: 30px;
	}
	.mh-home h2 {
		font-size: 1.5rem;
	}
	.post-row {
		padding: 5px 10px;
	}
	.post-row h3 {
		font-size: 15px;
		width: 100%;
	}
	.pb-5, .py-5 {
		padding-bottom: 1rem !important;
	}
	.h2, h2 {
		font-size: 1.5rem;
	}
	.header-bg {
		width: 100%;
	}
	.positive-m {
		margin: 0;
	}
	.positive-m2 {
		margin: 0;
	}
	.tools-box h3 {
		font-size: 20px;
		margin-top: 15px;
	}
	.tools-grid {
		padding: 10px;
	}
	.navbar-nav {
		flex-direction: inherit;
		padding: 0px !important;
	}
	.navbar-nav li{
		padding: 5px !important;
	}
	.navbar-nav li a{
		font-size: 13px;
	}
	.ewJlEB{
		width: 100% !important;
		margin: auto !important;
	}

}

@media screen and (min-width: 481px) and (max-width: 767px) { 
	.mh-title {
		font-size: 2.5rem;
	}
	.mh-search {
		margin: auto;
		width: 55%;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.tools .col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 19.666667%;
		max-width: 18.666667%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1140px){
	.tools .col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 19.666667%;
		max-width: 18.666667%;
	}
}
@media screen and (min-width: 1141px) and (max-width: 1940px){
	.tools .col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 19.666667%;
		max-width: 18.666667%;
	}
}


.tab-content {
	padding: 0;
  }
  
  .card {
	border-radius: 0 0 0.25rem 0.25rem;
	border-top: 0;
  }
  
  .nav-tabs {
	height: 42px;
	padding: 0;
	position: relative;
  }
  .nav-tabs .nav-item {
	margin-left: 0;
  }
  .nav-tabs .nav-item a {
	color: black;
	display: block;
	padding: 8px 25px;
  }
  .nav-tabs .nav-item.overflow-tab {
	background-color: white;
	display: none;
	position: absolute;
	right: 0;
	width: 150px;
	z-index: 1;
  }
  .nav-tabs .nav-item.overflow-tab a {
	border: 1px solid lightgray;
	border-radius: 0;
	padding: 6px 10px;
  }
  .nav-tabs .nav-item.overflow-tab a:hover, .nav-tabs .nav-item.overflow-tab a:focus, .nav-tabs .nav-item.overflow-tab a:active, .nav-tabs .nav-item.overflow-tab a.active {
	background-color: lightgray;
  }
  .nav-tabs .nav-item.overflow-tab:last-child {
	border-radius: 0 0 0 4px;
  }
  .nav-tabs .nav-item.overflow-tab-action {
	position: absolute;
	right: 0;
  }